body{
 background-color: aliceblue;
 font-family: Arial;
}

.container{
 width: 50%;
 margin: 0 auto;
}

.title{
 text-align: center;
 color: rgb(0,89,255);
}

.form{
 margin-left: 5%;
}

svg{
 color: rgb(0,89,255);
 float: left;
}

input {
 background-color: aliceblue;
 float: left;
 outline: 0;
 border: 0 solid;
 border-bottom-width: 3px;
 border-bottom-color: rgb(0,89,255);
 padding-right: 200px;
 font-size: 25px;
}




